#CreateServer_TableParent {
    margin: auto;
    width: 50%;
    max-width: 600px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
}
#CreateServer_CreateButton {
    background-color: var(--create);
    width: 150px;
    padding: 15px;
    margin: 5px;
    user-select: none;
    border-radius: 15px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
}
#CreateServer_CreateButton:disabled {
    background-color: var(--disabled);
    cursor: auto;
}
#CreateServer_CreateButton:hover { background-color: var(--create_hover); }
#CreateServer_GoBack {
    background-color: var(--delete);
    width: 150px;
    padding: 15px;
    margin: 5px;
    user-select: none;
    border-radius: 15px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
}
#CreateServer_GoBack:hover { background-color: var(--delete_hover); }