#Backups_Container { display: flex; }
.Backups_Panel {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
}
.Backups_Panel:first-of-type {
    margin-left: 0px!important;
}
.Backups_Panel:last-of-type {
    margin-right: 0px!important;
}
.Backups_Header {
    font-size: 30px;
    text-align: center;
}
.Backups_Panel table { width: 100%; }
.ButtonFix {
    margin: 0 auto;
    display: block!important;
}