#Backups_Container { display: flex; }
.Backups_Panel {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    flex: 1;
    margin: 8px;
}
.Backups_Header {
    font-size: 30px;
    text-align: center;
}
.Backups_Panel table { width: 100%; }
.ButtonFix {
    margin: 0 auto;
    display: block!important;
}