#ServerSelect_Label {
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
}
.ServerSelect_Server {
    position: relative;
    margin: auto;
    width: 50%;
    max-width: 825px;
    margin-bottom: 15px;

    background-color: #fff;
    
    padding: 15px;
    font-size: 20px;
    user-select: none;

    border-radius: 15px;
}
#ServerSelect_List div img {
    width: 64px;
    border-radius: 10px;
}
.ServerSelect_OpenAction {
    padding-left: 15px;
    color: var(--blue);
    transition: .2s ease-out;
    cursor: pointer;
}
.ServerSelect_OpenAction:hover { color: var(--bluehover); }
.ServerSelect_DeleteAction {
    padding-left: 15px;
    color: #c00;
    transition: .2s ease-out;
    cursor: pointer;
}
.ServerSelect_DeleteAction:hover { color: #800; }
.ServerSelect_Fixedbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    padding: 15px;
    width: 100%;
}
.ServerSelect_Fixedbar > .Button { margin: 15px!important; }