@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --blue: #417DD1;
}
body {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue);
}
.LeftRight {
    display: flex;
    justify-content: space-between;
}
.ExternalLink {
    color:#0000FF;
    user-select: none;
    transition: .2s ease-out;
    cursor: pointer;
}
.ExternalLink:hover { color: var(--blue); }
input[type="checkbox"] { cursor: pointer; }

#ServerSelect_Label {
    text-align: center;
    margin: 15px;
    font-size: 50px;
}
#ServerSelect_List div {
    margin: auto;
    width: 50%;
    max-width: 825px;
    margin-bottom: 15px;

    background-color: #FFFFFF;
    
    padding: 15px;
    font-size: 20px;
    user-select: none;

    border-radius: 15px;
}
#ServerSelect_List div img {
    width: 64px;
    border-radius: 10px;
}
.ServerSelect_Button {
    display: inline-block;
    padding: 15px;
    margin: 0px 15px 15px 15px;

    width: 180px;
    background-color: #FFFFFF;
    border-radius: 15px;

    transition: .2s ease-out;
    user-select: none;
    cursor: pointer;
}
.ServerSelect_Button:first-child { background-color: #00CC00; }
.ServerSelect_Button:first-child:hover { background-color: #00AA00; }
.ServerSelect_Button:last-child { background-color: #FFE999; }
.ServerSelect_Button:last-child:hover { background-color: #DDC777; }

#AddServer_Container {
    background-color: #FFFFFF;
    width: 50%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}
.AddServer_Btn {
    border: none;
    padding: 15px;
    margin: 0px 15px 15px 15px;

    width: 180px;
    background-color: #FFFFFF;
    border-radius: 15px;

    transition: .2s ease-out;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.AddServer_Btn:enabled { cursor: pointer; }
.AddServer_Btn:enabled:hover { background-color: #CCCCCC; }