@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
body {
  background-color: #4ba7f2;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0px;
  user-select: none;
}
a {
  color: #0000ff;
  transition: .3s ease;
}
a:hover { color: #00ccff }
a:active { color: #00eeff }
#Navbar {
  background-color: #ffffff;
  color: #4ba7f2;
  height: 100%;
  width: 300px;
  position: fixed;
  padding-top: 15px;
}
#Navbar ul {
  padding: 0px;
}
#Navbar li {
  list-style: none;
  padding: 15px;
  transition: ease-out 0.4s;
}
.Selected {
  background-color: #4ba7f2;
  color: #ffffff;
}
#Content {
  padding: 15px;
}
#Servers-List div {
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}
#Servers-List img {
  margin-top: -15px;
}
#Servers-List div:hover {
  background-color: #cccccc;
}
#Servers-Add {
  background-color: #57ff5f;
  color: #000000;
  padding: 15px;
  border-radius: 15px;
}
#Servers-Add:hover {
  background-color: #51eb59;
}
#Servers-List {
  margin-top: 15px;
  margin-bottom: 15px;
}
#Servers-DisplayText {
  font-size: 30px;
}
#Loading {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: none;
}
#Loading-Background {
  background-color: #ffffff;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
#Loading-Subcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#Loading-Icon {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}