@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --blue: #417DD1;
    --white: #FFFFFF;
    --black: #000000;

    --folder: #FFE999;
    --folder_hover: #DDC777;
    --create: #00CC00;
    --create_hover: #00AA00;
    --delete: #ff0000;
    --delete_hover: #aa0000;
}
#root {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--blue);
}

.ServerSelect_Header {
    text-align: center;
    font-size: 50px;
}
.ServerSelect_List {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 15px;
}
.ServerSelect_ListIndex {
    background-color: var(--white);
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
}
.ServerSelect_ListIndex td { padding: 15px; }
.ServerSelect_ListIndex_Button {
    user-select: none;
    transition: .2s ease-out;
    cursor: pointer;
}
#ServerSelect_ListIndex_Open { color: var(--create); }
#ServerSelect_ListIndex_Open:hover { color: var(--create_hover); }
#ServerSelect_ListIndex_Delete { color: var(--delete); }
#ServerSelect_ListIndex_Delete:hover { color: var(--delete_hover); }
.ServerSelect_Button {
    display: inline-block;
    width: 120px;
    padding: 15px;
    margin: 5px;
    user-select: none;
    border-radius: 15px;
    transition: .2s ease-out;
    cursor: pointer;
}
#ServerSelect_Button_OpenFolder { background-color: var(--folder); }
#ServerSelect_Button_OpenFolder:hover { background-color: var(--folder_hover); }
#ServerSelect_Button_CreateServer { background-color: var(--create); }
#ServerSelect_Button_CreateServer:hover { background-color: var(--create_hover); }